body
{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
	margin: auto;
	max-width: 1600px;
	min-height: 100%;
	padding: 0 1em;
    display: block;
}

description
{
    max-width: 60%;
    padding-top: 4.5em;
    display: none;
    position: relative;
    float: right;
    padding-right: 5%;
}

.examples
{
    display: block;
    margin: auto;
    max-width: 17em;
}


.cmd
{
    display: block;
    margin: auto;
    max-width: 40em;
}

.invaders
{
    display: block;
    margin: auto;
    max-width: 35em;
}


.swipes
{
    display: block;
    margin: auto;
    max-width: 35em;
}


.off
{
    opacity: 1.0 !important;
}

.on
{
    opacity: 0.5 !important;
}

.first
{
    display: inline-block;
}

.on a:hover
{
    background-color: white;
    opacity: 1.0 !important;
    
	transition: opacity 0.35s;
	-webkit-transition: opacity 0.35s;
    
}

sel
{
    align-content: left;
    display: inline-block;
    max-width: 20%;
    float: left;
    padding-top: 3em;
}

sel a:visited
{
    background-color: white;
    opacity: 1.0;
    
}

sel a
{
    opacity: 1.0;
}

sel a:hover
{
    background-color: white;
    opacity: 1.0;
    
	transition: opacity 0.35s;
	-webkit-transition: opacity 0.35s;
    
}

.pictures a:hover
{
    background-color: white;
}


.pictures
{
    max-height: 12em;
    height: auto;
    width: auto;
    padding-bottom: 4em;
}



.name
{
	color: black;
	font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
	display: inline;
    float:left;
	line-height: 1;
	text-decoration: none;
    position:relative;
}

.name a:link {
    text-decoration: none;
    color: inherit;
    border-bottom: 0px;
}

.name a:visited {
    text-decoration: none;
    border-bottom: 0px;
}

.name a:hover {
    text-decoration: none;
    border-bottom: 0px;
    background-color: white;
}

.name a:active {
    background-color: rgba(41, 173, 228, 0.2);
    background-color: #d3eef9;
	transition: background-color .75s;
	-webkit-transition: background-color 0.75s;
    text-decoration:none;
}

header
{
    border-bottom: 1px black solid;
	padding-right: 1em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

a[href^="mailto:"]
{
    color: black;
}

a[href^="http"]
{
    color:black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

text
{
    float: right;
    max-width: 60%;
}

nav
{
    float: none;
    text-decoration: none;
}

nav ul
{
    font-size: 90%;
    padding-top: 2.5em;
    text-transform: uppercase;
    text-decoration: none;
}

nav li
{
    display: inline;
    float: right;
    padding-left: 1em;
    text-decoration: none;
   
}

nav ul li
{
    opacity: 0.6;
}  

nav ul li:active
{
    border-bottom: 0;
    font-weight: 100;
    text-decoration: none;
    border-bottom-color: #29ade4;
}

nav ul li:hover
{
    text-decoration: none;
    opacity: 1;
    transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

nav ul li 
{
    font-weight: 100;
    font-size: 2em;
    margin-left: 15px;
}

nav ul li a
{
    padding-right: 0.1em;
    padding-left: 0.1em;
    text-decoration: none;
}

nav ul li a:visited
{
    text-decoration: none;
}

nav ul li a:link,
{
    text-decoration: none;
}

nav ul .current
{
    opacity: 1;
}

a
{
	border-bottom: 1.5px solid transparent;
	text-decoration: none;
    
	transition: background-color .75s;
	-webkit-transition: background-color 0.75s;
    
    
}
a:hover
{
    background-color: rgba(41, 173, 228, 0.2);
    background-color: #d3eef9;
	transition: background-color .75s;
	-webkit-transition: background-color 0.75s;
    text-decoration:none;
}

a:visited, a:active, a:link
{
    text-decoration: none;
}


wrapper
{
    padding-bottom: 2em;
}

nav ul .current a
{
    background-color: rgba(41, 173, 228, 0.2);
    background-color: #d3eef9;
    text-decoration: none;
}